* {
    margin: 0;
    padding: 0;

    --primary-dark: #333333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
}

body {
    font-family: 'Monaco', 'Roboto', 'Arial', sans-serif;
    background-color: var(--primary-light);
    color: var(--primary-dark);
    max-height: 100vh;
}

header {
    text-align: center;
    margin: 10px 0 30px 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header>h1 {
    font-size: 3rem;
}
header>p {
    font-size: 1rem;
    max-width: 70ch;
    padding: 5px 0 5px 0;
    align-self: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    max-width: 1000px;
    margin: 0 auto;
}

#user-interface {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

button, input {
    width: 100%;
    border: none;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
    outline: none;
}

button {
    padding: 10px 20px;
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
}
#color-btn, #eraser-btn {
    margin-bottom: 30px;
}

.active {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

button:hover,
input[type='color']:hover {
transform: scale(1.05);
}

input[type='color'] {
    width: 80px;
    height: 80px;
    border: none;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(var(--columns-rows), 1fr);
    grid-template-rows: repeat(var(--columns-rows), 1fr);
    height: 70vh;
    width: 70vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cell {
    border: .5px solid black;
    background: var(--secondary-light);
}


footer {
    background: var(--primary-light);
    margin-top: 2rem;
    padding: 5px 0 5px 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.github-img {
    height: 20px;
    margin-left: 10px;
}